html {
  font-family: "Fredoka One", sans-serif;
  background: repeating-linear-gradient(-25deg, #b3fbff, #b3fbff 8px, #c9fcff 8px, #c9fcff 10px);
  border-top: 8px solid #b3fbff;
}

h1 {
  color: #990073;
  transform: rotate(-8deg);
}

p {
  color: #c09;
  transform: rotate(-6deg);
  max-width: 19em;
}

.btn {
  border-color: #990073;
  color: #c09;
}

.btn-ghost:hover {
  background-color: rgba(153, 0, 115, .2);
  border-color: #990073;
  color: #c09;
}

.intro {
  text-shadow: 2px 2px 2px rgba(150, 150, 150, .93);
  transform-origin: left center;
  animation: opacity 2s linear;
}

.cream-wrapper {
  position: relative;
}

.cream {
  position: absolute;
}
/*
.cherry {
  left: calc(50% - 110px);
  top: -100px;
  z-index: 8;
  animation: drop .5s linear;
  animation-fill-mode: forwards;
  transform-origin: center bottom;
}

.vanilla {
  left: calc(50% - 160px);
  top: -90px;
  z-index: 6;
  animation: drop .5s linear;
  animation-fill-mode: forwards;
  transform-origin: center bottom;
}

.chocolate {
  left: calc(50% - 145px);
  top: -80px;
  z-index: 5;
  animation: drop .5s linear;
  animation-fill-mode: forwards;
  transform-origin: center bottom;
}

.mint {
  left: calc(50% - 160px);
  top: -70px;
  z-index: 4;
  animation: drop .5s linear;
  animation-fill-mode: forwards;
  transform-origin: center bottom;
}
*/
.cone {
  left: calc(50% - 150px);
  top: -200px;
  z-index: 5;
  animation: drop .5s linear;
  animation-fill-mode: forwards;
  transform-origin: center bottom;
}

@keyframes opacity {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes drop {

  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(30em);
  }

  }

}
