html {
  border-bottom: 9px solid #b3fbff;
  font-family: "Fredoka One", sans-serif;
}

.banner {
  background: repeating-linear-gradient(-30deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
  border-top: 10px solid #b3fbff;
  padding-left: .5em;
  padding-bottom: 7em;
  overflow: hidden;
}

h1 {
  color: #990073;
  transform: rotate(-8deg);
}

p {
  color: #c09;
  transform: rotate(-6deg);
  max-width: 19em;
}

.btn-ghost {
  border-color: #990073;
  color: #c09;
  margin-left: 1em;
}

.btn-ghost:hover {
  background-color: rgba(153, 0, 115, .2);
  border-color: #990073;
  color: #c09;
}

.intro p {
  margin-left: 1em;
}

.intro {
  opacity: 0;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, .93);
  transform-origin: left center;
  animation: blur 3s 700ms linear forwards;
  animation-delay: 2s;
  padding-left: 2em;
}

.cream-wrapper {
  position: relative;
}

img {
  position: absolute;
}

.cherry {
  animation: cherry 800ms linear forwards;
  top: -1200px;
  animation-delay: 2s;
  left: calc(50% - 50px);
  width: 50px;
  z-index: 8;
}

.cream-vanilla {
  animation: vanilla 650ms linear forwards;
  top: -1200px;
  animation-delay: 2s;
  left: calc(50% - 90px);
  width: 125px;
  z-index: 8;
}

.cream-chocolate {
  animation: chocolate 550ms linear forwards;
  animation-delay: 2s;
  top: -1200px;
  left: calc(50% - 75px);
  width: 125px;
  z-index: 7;
}

.cream-mint {
  animation: mint 450ms linear forwards;
  animation-delay: 2s;
  left: calc(50% - 100px);
  top: -1200px;
  width: 125px;
  z-index: 6;
}

.cone {
  animation: cone 350ms linear forwards;
  animation-delay: 2s;
  left: calc(50% - 100px);
  top: -1200px;
  width: 125px;
  z-index: 10;

}

@keyframes blur {

  0% {
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }

}

@keyframes cherry {

  0% {
    top: -1200px;
  }

  100% {
    top: 10px;
  }
}

@keyframes vanilla {

  0% {
    top: -1200px;
  }

  100% {
    top: 50px;
  }
}

@keyframes chocolate {

  0% {
    top: -1200px;
  }

  100% {
    top: 130px;
  }
}

@keyframes mint {

  0% {
    top: -1200px;
  }

  100% {
    top: 220px;
  }
}

@keyframes cone {

  0% {
    top: -1200px;
  }

  100% {
    top: 330px;
  }
}

@media only screen and (min-width: 90em) {

  .banner {
    padding-left: 9em;
    padding-right: 8em;
  }

  .intro {
    padding-top: 3em;
  }
}
